@model SectionVM

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <img src="~/upload/banner_07.jpg" alt="" class="img-fluid">
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Trend Videos</h2>
            <div class="trend-videos">
                @foreach (var video in Model.Videos.Take(5))
                {
                    <div class="blog-box">
                        <div class="post-media">
                            <a href="/article/detail/@video.Id/@video.SeoUrl" title="">
                                <video controls class="img-fluid">
                                    <source src="@video.PhotoUrl" type="video/mp4">
                                </video>
                                <div class="hovereffect">
                                    <span class="videohover"></span>
                                </div><!-- end hover -->
                            </a>
                        </div><!-- end media -->
                        <div class="blog-meta">
                            <h4>
                                <a href="/article/detail/@video.Id/@video.SeoUrl" title="">
                                    @video.Title
                                </a>
                            </h4>
                        </div><!-- end meta -->
                    </div>
                    <!-- end blog-box -->
                    <hr class="invis">
                }
            </div>
            <!-- end videos -->
        </div>
        <!-- end widget -->
        <div class="widget">
            <h2 class="widget-title">Popular Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    @foreach (var item in Model.PopularSection)
                    {
                            @*<img src="@article.PhotoUrl" alt="@article.SeoUrl" class="img-fluid">*@
                            <a href="/article/detail/@item.Id/@item.SeoUrl"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="w-100 justify-content-between">
                                    <img src="@item.PhotoUrl" alt="@item.SeoUrl" class="img-fluid float-left">
                                    <h5 class="mb-1">@item.Title</h5>
                                    <small>@item.UpdatedDate.ToString("dd MM yyyy")</small>
                                </div>
                            </a>
                        
                    }
                </div>
            </div><!-- end blog-list -->
        </div>
        <!-- end widget -->
        <div class="widget">
            <h2 class="widget-title">Recent Reviews</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    <a href="tech-single.html"
                        class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            <img src="upload/tech_blog_02.jpg" alt="" class="img-fluid float-left">
                            <h5 class="mb-1">Banana-chip chocolate cake recipe..</h5>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </a>

                    <a href="tech-single.html"
                        class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            <img src="upload/tech_blog_03.jpg" alt="" class="img-fluid float-left">
                            <h5 class="mb-1">10 practical ways to choose organic..</h5>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </a>

                    <a href="tech-single.html"
                        class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 last-item justify-content-between">
                            <img src="upload/tech_blog_07.jpg" alt="" class="img-fluid float-left">
                            <h5 class="mb-1">We are making homemade ravioli..</h5>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div><!-- end blog-list -->
        </div>

        <!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Follow Us</h2>

            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button facebook-button">
                        <i class="fa fa-facebook"></i>
                        <p>27k</p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button twitter-button">
                        <i class="fa fa-twitter"></i>
                        <p>98k</p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button google-button">
                        <i class="fa fa-google-plus"></i>
                        <p>17k</p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button youtube-button">
                        <i class="fa fa-youtube"></i>
                        <p>22k</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- end widget -->
        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <img src="~/upload/banner_03.jpg" alt="" class="img-fluid">
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div>
    </div>
</div>
