@model List<Article>
@{
    decimal percentage = Model.Count; // Burada yüzde değerini verin
    decimal interest = percentage / 100;
    string interestString = interest.ToString("P2");
}
<div class="container">
    <div class="m-1">
        <a href="/admin/dashboard" class="btn btn-primary w-25">Back</a>
        <br>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Statistical values</h6>
        </div>
        <div class="card-body">
            <h4 class="small font-weight-bold"> postage interest <span class="float-right">@percentage%</span></h4>
            <div class="progress mb-4">
                <div class="progress-bar bg-info" role="progressbar" style="width: @percentage%" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="brand text-center">
        <h1 class="text-black-50 ">
            sharer by` <b>#@ViewData["users"]</b>
        </h1>
        <div class="sub-text">
            Your Id <code>@ViewData["Id"]</code>
        </div>
    </div>
    <div class="text text-center">
        Total number of articles <b>@Model.Count</b>
        <br>
        <a href="/admin/article/create" class="btn btn-primary w-100 btn-circle">Creare</a>
    </div>
    <hr>

    @if (Model.Count > 0)
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="@item.PhotoUrl" class="card-img-top" alt="@item.Title">
                        <div class="card-body">
                            <h5 class="card-title">
                                @item.Title</h5>
                            <span>Category : </span> <a href="/admin/Category/Detail/@item.Category.Id" class="btn btn-dark">
                                @item.Category.CategoryName </a>
                            <p class="card-text">
                                @Html.Raw(item.Content.Substring(0,5))
                            </p>
                            <div class="row">
                                <a href="/article/Detail/@item.Id" class="btn btn-primary w-50 text-center ">Detail/Home</a>
                                <a href="/admin/article/Edit/@item.Id" class="btn btn-secondary w-50 text-center ">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-center " style="font-size: large;">
            No articles were found, <a href="/admin/article/create">create</a>one now

        </p>
        <div class="container d-flex align-items-center justify-content-center ">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon src="https://cdn.lordicon.com/pqxdilfs.json" trigger="hover" class="text-lg-center"
                style="width:450px;height:450px">
            </lord-icon>
        </div>
    }
</div>