@model List<Permission>
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager;
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="text-center m-0 font-weight-bold text-primary">
                Answer Viewers
            </h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#Id</th>
                            <th>Title</th>
                            <th>DataTime</th>
                            <th>Content</th>
                            <th>User Name</th>
                            <th>Email</th>
                            @*<th>Phone</th>*@
                            <th>Status</th>
                            <th>
                                Parametr
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#Id</th>
                            <th>Title</th>
                            <th>DataTime</th>
                            <th>Content</th>
                            <th>User Name</th>
                            <th>Email</th>
                            @*<th>Phone</th>*@
                            <th>Status</th>
                            <th>
                                Parametr
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @* *@
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <th>@item.Title</th>
                                <th>@item.DateTime.ToString("yyyy-M-d dddd")</th>
                                <th>@item.MessageText</th>
                                <th>@item.User.Name</th>
                                <th>@item.SenderEmail</th>
                                @*<th>@item</th>*@
                                @*<th>Phone</th>*@
                                <th>
                                    @{
                                        var roles = await _userManager.GetRolesAsync(item.User);
                                        var a = roles.Count;
                                        if (a != 1)
                                        {
                                            <span class="btn btn-secondary">Finish</span>
                                        }
                                        else
                                        {
                                            <span class="btn btn-danger">Active</span>

                                        }
                                    }
                                </th>
                                <th>
                                    <div class="btn-group w-100">
                                        <a class="btn btn-primary w-100 m-2" href="/admin/user/addrole/@item.User.Id">Add Role </a>
                                        <a class="btn btn-success  w-100 m-2">Detail</a>
                                    </div>
                                </th>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
