@using System.IO
@using Microsoft.AspNetCore.Http

@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
@{
    Pager pager = new();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="first-slot">
                @foreach (var pop in Model.PopularPost.Take(1))
                {

                    <div class="masonry-box post-media">
                        @if (IsPhoto(pop.PhotoUrl))
                        {
                            <img src="@pop.PhotoUrl" alt="@pop.SeoUrl" class="img-fluid">
                        }
                        else if (IsVideo(pop.PhotoUrl))
                        {
                            <video controls class="img-fluid">
                                <source src="@pop.PhotoUrl" type="video/mp4">
                            </video>
                            <span class="videohover"></span>
                        }
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="/Category/detail/@pop.Category.Id/" title="">@pop.Category.CategoryName</a></span>
                                    <h4><a href="/article/detail/@pop.Id/@pop.SeoUrl" title="">@pop.Title</a></h4>
                                    <small><a href="/article/detail/@pop.Id/@pop.SeoUrl" title="">@pop.UpdatedDate</a></small>
                                    <small>
                                        <a href="/article/detail/@pop.Id/@pop.SeoUrl" title="">
                                            by @pop.User.Name
                                        </a>
                                    </small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div>

                    <!-- end post-media -->
                }
            </div><!-- end first-side -->
            @foreach (var pop2 in Model.PopularPost.Skip(1).Take(2))
            {

                <div class="second-slot">
                    <div class="masonry-box post-media">
                        @if (IsPhoto(pop2.PhotoUrl))
                        {
                            <img src="@pop2.PhotoUrl" alt="@pop2.SeoUrl" class="img-fluid">
                        }
                        else if (IsVideo(pop2.PhotoUrl))
                        {
                            <video controls class="img-fluid">
                                <source src="@pop2.PhotoUrl" type="video/mp4">
                            </video>
                            <span class="videohover"></span>
                        }
                        @* @* <img src="@pop2.PhotoUrl" alt="@pop2.SeoUrl" class="img-fluid">  *@
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="/article/detail/@pop2.Id/@pop2.SeoUrl" title="">@pop2.Category.CategoryName</a></span>
                                    <h4>
                                        <a href="/article/detail/@pop2.Id/@pop2.SeoUrl" title="">
                                            @pop2.Title
                                        </a>
                                    </h4>
                                    <small><a href="/article/detail/@pop2.Id/@pop2.SeoUrl" title="">@pop2.UpdatedDate</a></small>
                                    <small><a href="/article/detail/@pop2.Id/@pop2.SeoUrl" title="">by @pop2.User.Name  </a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div>

                <!-- end second-side -->
            }
        </div><!-- end masonry -->
    </div>
</section>*

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        @{
                            int caunt = 0;
                            int adIndex = 0;
                        }
                        @foreach (var article in Model.Articles)
                        {
                            caunt++;
                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="/article/Detail/@article.Id/@article.SeoUrl" title="">
                                            @if (IsPhoto(article.PhotoUrl))
                                            {
                                                <img src="@article.PhotoUrl" alt="@article.SeoUrl" class="img-fluid">
                                            }
                                            else if (IsVideo(article.PhotoUrl))
                                            {
                                                <video controls class="img-fluid">
                                                    <source src="@article.PhotoUrl" type="video/mp4">
                                                </video>
                                                <span class="videohover"></span>
                                            }
                                            <!-- end blog-box -->
                                            @*<hr class="invis">*@
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->
                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="/article/Detail/@article.Id/@article.SeoUrl" title="">@article.Title</a></h4>
                                    <p> @Html.Raw(article.Content.Substring(0, 5))</p> <!--5  E KIMI YAZIR -->
                                    <small class="firstsmall"><a class="bg-orange" href="/Category/detail/@article.Category.Id/" title="">@article.Category.CategoryName</a></small>
                                    <small><a href="tech-single.html" title="">@article.CreatedDate.ToString("dd MM yyyy")</a></small>
                                    <small><a href="tech-author.html" title="">by @article.User.Name</a></small>
                                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> @article.ViewCount</a></small>
                                </div><!-- end meta -->
                            </div>
                            <hr class="invis">
                            if (adIndex % 3 == 0 || adIndex == Model.Articles.Count() - 1)
                            {

                                var ad = Model.Advertisements[adIndex % Model.Advertisements.Count];


                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <a href="@Url.Action("AdClick", "Home", new { adId = ad.Id })">
                                                    <img src="@ad.PhotoUrl" alt="" class="img-fluid">
                                                </a>
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div>
                                <hr class="invis">

                                adIndex++;
                            }
                            else
                            {
                                // Increment the article index
                                <hr class="invis">

                                adIndex++;
                            }
                        }
                        @* <hr class="invis"> *@
                        <hr class="invis">

                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            @if (pager.TotalPage > 0)
                            {

                                <ul class="pagination justify-content-start">

                                    @if (pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="1">First</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                                        </li>
                                    }
                                    @for (int pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                    {

                                        <li class="page-item ">
                                            <a class="page-link @((pge==pager.CurrentPage)?"page-link-active":"")" asp-controller="Home" asp-action="Index" asp-route-pg="@pge">@pge</a>
                                        </li>
                                    }
                                    @if (pager.CurrentPage < pager.TotalPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@(pager.TotalPage)">Last</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
            @await Component.InvokeAsync("Section")
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>


@functions {

    private bool IsPhoto(string url)
    {
        var extensions = new[] { ".jpg", ".jpeg", ".png", ".gif" };
        return extensions.Contains(System.IO.Path.GetExtension(url).ToLower());
    }

    private bool IsVideo(string url)
    {
        var extensions = new[] { ".mp4", ".avi", ".wmv", ".mov" };
        return extensions.Contains(System.IO.Path.GetExtension(url).ToLower());
    }
}