@model List<Article>

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="/admin/article/create">Create</a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#Id</th>
                            <th>Photo</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>User</th>
                            <th>Status </th>
                            <th>
                                Parametr
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#Id</th>
                            <th>Photo</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>User</th>

                            <th>Status</th>

                            <th>
                                Parametr
                            </th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @* *@
                        @foreach (var article in Model)
                        {
                            <tr>

                                <th>@article.Id</th>
                                <th>
                                    <img src="@article.PhotoUrl" alt="" width="100" srcset="">
                                </th>
                                <th>
                                    @article.Title
                                </th>

                                <th>@Html.Raw(article.Content.Substring(0,10))...</th>
                                <th>@article.User.Name</th>
                                <th>
                                    @(article.IsActive ? "Active" : "DeActive");
                                </th>
                                <th>
                                    <a href="/admin/New/Detail/@article.Id" class="btn btn-danger"> Deteil </a>
                                    <a href="/admin/new/delete/@article.Id" class="btn btn-secondary"> Delete </a>
                                    <a href="/admin/new/update/@article.Id" class="btn btn-info">Update</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
