@model IEnumerable<ArticleTag>
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-star bg-orange"></i> @ViewData["TagName"] <small
                        class="hidden-xs-down hidden-sm-down">Nulla felis eros, varius sit amet volutpat non. </small>
                </h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homr/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/">Blog</a></li>
                    <li class="breadcrumb-item active">@ViewData["TagName"]</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">
                        @foreach (var art in Model)
                        {
                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="/article/Detail/@art.Id/@art.Article.SeoUrl" title="">
                                            @if (IsPhoto(art.Article.PhotoUrl))
                                            {
                             <img src="@art.Article.PhotoUrl" alt="" width="" srcset="" class="img-fluid">
                                            }
                        else if (IsVideo(art.Article.PhotoUrl))
                        {
                            <video controls class="img-fluid" style="width: 100%;" >
                                <source src="@art.Article.PhotoUrl" style="width:  100%;"  type="video/mp4">
                            </video>
                            <span class="videohover"></span>
                        }
                                            @* <img src="@art.Article.PhotoUrl" alt="" class="img-fluid"> *@
                                           
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="/article/Detail/@art.Article.Id/@art.Article.SeoUrl" title="">@art.Article.Title</a></h4>
                                    <p>@Html.Raw(art.Article.Content.Substring(0, 10))</p>
                                    <small class="firstsmall"><a class="bg-orange" href="/tag/Detail/@art.Tag.Id"
                                            title="">
                                            @ViewData["TagName"]
                                            </a></small>
                                    <small><a href="/article/Detail/@art.Article.Id/@art.Article.SeoUrl" title="">@art.Article.UpdatedDate.ToString("dd MM yyyy")</a></small>
                                    <small><a href="#" title="">by Matilda</a></small>
                                    <small><a href="/article/Detail/@art.Article.Id/@art.Article.SeoUrl" title=""><i class="fa fa-eye"></i> @art.Article.ViewCount</a></small>
                                </div><!-- end meta -->
                            </div>
                            <!-- end blog-box -->
                            <hr class="invis">
                        }
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->
                <hr class="invis">
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
                @await Component.InvokeAsync("Section")
                <!-- end sidebar -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

@functions {
    private bool IsPhoto(string url)
    {
        var extensions = new[] { ".jpg", ".jpeg", ".png", ".gif" };
        return extensions.Contains(System.IO.Path.GetExtension(url).ToLower());
    }
    private bool IsVideo(string url)
    {
        var extensions = new[] { ".mp4", ".avi", ".wmv", ".mov" };
        return extensions.Contains(System.IO.Path.GetExtension(url).ToLower());
    }

}