@model IEnumerable<Advertisement>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="/admin/advertisement/create" class="text-decoration-none">Create</a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Size</th>
                        <th>Views</th>
                        <th>Click</th>
                        <th>Created date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Size</th>
                        <th>Views</th>
                        <th>Click</th>
                        <th>Created date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var ads in Model)
                    {
                        <tr>
                            <td>@ads.Name</td>
                            <td>
                                <img width="100" src="@ads.PhotoUrl" />
                            </td>
                            <td>@ads.SizeX x @ads.SizeY</td>
                            <td>@ads.View</td>
                            <td>@ads.Click</td>
                            <td>@ads.CreatedDate</td>
                            <td>
                                @if (ads.IsDeleted)
                                {
                                    <span class="btn btn-danger btn-sm">Deleted</span>
                                }
                                else
                                {
                                    <span class="btn btn-success btn-sm">Active</span>
                                }
                            </td>
                            <td>
                                <a href="/admin/advertisement/detail/@ads.Id">Detail</a>
                                <a href="/admin/advertisement/delete/@ads.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>