@model ArticleVM
@{
    Pager pager = new();
    int pageNo = 0;
    if (ViewBag.Pager1 != null)
    {
        pager = ViewBag.Pager1;
        pageNo = pager.CurrentPage;
    }
}
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-gears bg-orange"></i> @ViewBag.UserName <small
                        class="hidden-xs-down hidden-sm-down">Nulla
                        felis eros, varius sit amet volutpat non. </small></h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                    <li class="breadcrumb-item active">@ViewBag.UserName</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->


<section class="section">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Section")

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-grid-system">
                        <div class="row">
                            <!--  -->
                            @foreach (var item in Model.Articles)
                            {
                                <div class="col-md-6">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="/article/detail/@item.Id/@item." title="">
                                                <img src="@item.PhotoUrl" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta big-meta">
                                            <span class="color-orange"><a href="/article/detail/@item.Id/@item.SeoUrl"
                                                    title="">@item.Category.CategoryName</a></span>
                                            <h4><a href="/article/detail/@item.Id/@item.SeoUrl" title="">@item.Title</a>
                                            </h4>
                                            <p>@Html.Raw(item.Content.Substring(0,10))</p>
                                            <small><a href="/article/detail/@item.Id/@item.SeoUrl"
                                                    title="">@item.UpdatedDate</a></small>
                                            <small><a href="/article/detail/@item.Id/@item.SeoUrl"
                                                    title="">@item.User.Name</a></small>
                                            <small><a href="/article/detail/@item.Id/@item.SeoUrl" title=""><i
                                                        class="fa fa-eye"></i>
                                                    @item.ViewCount</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div>

                                <!-- end col -->

                            }
                        </div><!-- end row -->
                    </div><!-- end blog-grid-system -->
                </div><!-- end page-wrapper -->

                <hr class="invis3">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            @if (pager.TotalPage > 0)
                            {
                                <ul class="pagination justify-content-start">
                                    @if (pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Article" asp-action="ListArticles"
                                        asp-route-pg="1">First</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Article" asp-action="ListArticles"
                                        asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                                        </li>
                                    }
                                    @for (int pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                    {

                                        <li class="page-item ">
                                            <a class="page-link @((pge==pager.CurrentPage)?"page-link-active":"")"
                                        asp-controller="Article" asp-action="ListArticles" asp-route-pg="@pge">@pge</a>
                                        </li>
                                    }
                                    @if (pager.CurrentPage < pager.TotalPage)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Article" asp-action="ListArticles"
                                        asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Article" asp-action="ListArticles"
                                        asp-route-pg="@(pager.TotalPage)">Last</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>